@import url('./reset.css');

@custom-media --sm (max-width: 500px);
@custom-media --md (max-width: 800px);

:root {
  --width: 1000px;
  --padding-inline: 40px;
  --padding-inling-sm: 20px;
  --padding-block: 50px;
  --radius: 10px;
  --shadow: 0 0 40px 0.2px rgb(0 0 0 / 10%);
  --color-primary: #212529;
  --color-secondary: #495057;
  --color-white: #f8f9fa;
}

body {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: var(--color-primary);
}

/* HEADER */
.header {
  margin-inline: auto;
  max-width: var(--width);
  padding-block: 20px;
  padding-inline: var(--padding-inline);

  @media (--sm) {
    padding-inline: var(--padding-inling-sm);
  }

  &__title {
    display: inline;
    font-size: 28px;
    font-weight: 700;
  }
}

/* MAIN */
.container {
  background-color: var(--color-white);
  min-height: calc(100vh - 80px);
}

/* FORM */
.form {
  display: flex;
  gap: 10px;
  margin-inline: auto;
  max-width: var(--width);
  padding-inline: var(--padding-inline);
  padding-top: var(--padding-block);

  @media (--sm) {
    padding-inline: var(--padding-inling-sm);
    flex-direction: column;
  }

  &__input {
    flex-grow: 1;
    position: relative;

    &__icon {
      left: 20px;
    }

    &__field {
      padding: 10px 10px 10px 50px;
      width: 75%;
      min-width: 200px;

      @media (--md) {
        width: 100%;
      }

      &:focus {
        outline-width: 0;
      }
    }
  }

  &__select {
    position: relative;

    &__icon {
      right: 10px;
    }

    &__field {
      cursor: pointer;
      min-width: 150px;
      padding: 10px;

      @media (--sm) {
        min-width: 100%;
      }

      &:focus {
        outline-width: 0;
      }
    }
  }
}

/* Icon */
.icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: calc(50% - 8px);
}

/* Input */
.input {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-weight: 500;
}

/* COUNTRIES LIST */
.countries {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-inline: auto;
  max-width: var(--width);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);

  @media (--sm) {
    padding-inline: var(--padding-inling-sm);
  }
}

.country {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;

  &__detail {
    font-weight: 700;
    padding: 20px;

    &__name {
      font-size: 16px;
      margin-block-end: 16px;
    }

    p {
      margin-block-end: 5px;

      span {
        font-weight: 400;
      }
    }
  }
}

/* COUNTRY */
.back {
  display: flex;
  gap: 10px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  width: fit-content;
}

.arrow-icon {
  height: 20px;
  width: 20px;
}

.country-full {
  margin-inline: auto;
  max-width: var(--width);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);

  @media (--sm) {
    padding-inline: var(--padding-inling-sm);
  }

  &__info {
    display: grid;
    align-items: center;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-block-start: 50px;

    &__detail {
      font-weight: 700;
      padding: 0;

      h4 {
        font-size: 28px;
        margin-block-end: 20px;
      }

      .detail {
        display: flex;
        gap: 40px;
        margin-block-end: 40px;

        @media (719px < width < 900px) {
          flex-direction: column;
          gap: 0;
          margin-block-end: 10px;
        }

        &__item {
          width: 50%;

          @media (719px < width < 900px) {
            width: 100%;
          }
        }
      }

      p {
        margin-block-end: 5px;

        span {
          font-weight: 400;
        }
      }
    }
  }
}
