:root {
  --width: 1000px;
  --padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

/* HEADER */
.title,
.title:active,
.title:visited {
  color: #000;
  text-decoration: none;
}

.header {
  margin-inline: auto;
  max-width: var(--width);
  padding-block: 20px;
  padding-inline: var(--padding);
}

/* MAIN */
.container {
  background-color: #fafafa;
  min-height: calc(100vh - 80px);
}

/* FORM */
.form {
  margin-inline: auto;
  max-width: var(--width);
  padding-top: 50px;
  padding-inline: var(--padding);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.input-container {
  position: relative;
  flex-grow: 1;
}

.input-icon {
  height: 16px;
  left: 20px;
  position: absolute;
  top: calc(50% - 8px);
  width: 16px;
}

.input {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 40px 0.2px rgb(0 0 0 / 10%);
  font-weight: 500;
}

.input-field {
  padding: 10px 10px 10px 50px;
  width: 70%;
  min-width: 200px;
}

.input-field:focus {
  outline-width: 0;
}

.select-field {
  padding: 10px;
}

.select-field:focus {
  outline-width: 0;
}

/* COUNTRIES */
.countries {
  margin-block: 50px;
  margin-inline: auto;
  max-width: var(--width);
  padding-inline: var(--padding);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.country-card,
.country-card:active,
.country-card:visited {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 40px 0.2px rgb(0 0 0 / 10%);
  color: #000;
  overflow: hidden;
  text-decoration: none;
}

.country-img {
  width: 100%;
  object-fit: cover;
}

.country-name {
  margin-bottom: 16px;
}

.country-detail {
  padding: 25px 20px;
}

.country-detail p {
  font-weight: 700;
  margin-bottom: 5px;
}

.country-detail span {
  font-weight: 400;
}

/* COUNTRY */
.arrow-icon {
  height: 20px;
  width: 20px;
}

.country {
  display: block;
  margin-block-start: 0;
  padding-block-start: 50px;
  max-width: 1200px;
}

.country a,
.country a:visited,
.country a:active {
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: ;
  box-shadow: 0 0 40px 0.2px rgb(0 0 0 / 10%);
  color: #000;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  text-decoration: none;
  width: fit-content;
}

.country-info {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-block-start: 50px;
}

.country-info .country-detail {
  padding: 0;
}

.country-info .country-detail h4 {
  font-size: 28px;
  margin-bottom: 20px;
}

.country-info .country-detail .info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  margin-block-end: 40px;
}

.country-info .country-detail p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
